---
interface Props {
    href: string;
    class?: string;
}

const { href, class: className } = Astro.props;
---

<a
    href={href}
    class:list={[
        "flex-row justify-center text-white cursor-pointer hover:bg-slate-700 focus:ring-4 focus:outline-none focus:ring-[#1da1f2]/50",
        "font-medium rounded-lg px-5 py-2.5 text-center inline-flex items-center dark:focus:ring-[#1da1f2]/55 mr-2 mb-2",
        "hover:shadow-lg transition-all duration-200 ease-in-out",
        className
    ]}
>
    <slot name="before" />
    <slot>Un texto por defecto</slot>
    <slot name="after" />
</a>